<!-- <div class="px-0 bg-light">
    <div class="d-flex">
        <div class="d-flex align-items-center " id="navbar"> <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-items" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation"> <span class="fas fa-bars"></span> </button> <a class="text-decoration-none fs14 ps-2" href="#">BugTracker<span class="fs13 pe-2">.com</span></a> </div>
        <div id="navbar2" class="d-flex justify-content-end pe-4"> <span class="far fa-user-circle "></span> </div>
    </div> -->
    

        <!-- <div class="d-md-flex">
            <div class="sidebar-toggle">
              <span class="fas fa-bars"></span>
            </div>
            <ul id="navbar-items" class="p-0">
              <li><span class="fas fa-th-list"></span><span class="ps-3 name">Dashboard</span></li>
              <li><span class="fas fa-chart-line"></span><span class="ps-3 name">Home</span></li>
              <li><span class="fas fa-clipboard-check"></span><span class="ps-3 name">Settings</span></li>
              <li><span class="fas fa-suitcase-rolling"></span><span class="ps-3 name">About</span></li>
              <li><span class="fas fa-calendar-alt"></span><span class="ps-3 name">Contact</span></li> -->
              <!-- <li><span class="fas fa-comment-alt"></span><span class="ps-3 name">reqests</span></li>
              <li><span class="fas fa-store-alt"></span><span class="ps-3 name">merchants</span></li> -->
            <!-- <br>
        <br>
    <br>
<br>
<br> -->
<!-- <button id="signout-btn">Sign Out</button>
</ul> -->
            
              
          
        <div id="topnavbar">
            <!-- <div class="topnav mb-3">
                <div class="d-flex px-1"> <a href="#home" class="active">merchants</a> <a href="#news">users</a> <a href="#contact">company<span class="px-1">&</span>mid</a> <a href="#contact">account</a> </div>
            </div> -->
            <!-- <div class="d-flex align-items-center mb-3 px-md-3 px-2"> <span class="text-uppercase fs13 fw-bolder pe-3">search<span class="ps-1">by</span></span> -->
             
                <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Aj++chV/2AHp9bSTkP2+dS+nLaL38XdS2pFpyJAxOKpG1PbwECDx/z5mSz3d0JxdScv6keuzs9gWt3Hhn4gsfg==" crossorigin="anonymous" /> -->

                <!-- <form class="example d-flex align-items-center"> <input type="text" placeholder="Type in Bug Name/Status" name="search"> <button type="submit"><i class="fa fa-search"></i></button> </form> -->
            
        
    </div>
            <div class="table-responsive px-2">
                <br>
                <br>
                <table class="table table-borderless">
                    
                    <thead>
                        <tr>
                            <th scope="col">ID<span></span></th>
                            <th scope="col">BUG</th>
                            <th scope="col">REPORTER</th>
                            <th scope="col">CREATED <span class="ps-1">ON</span></th>
                            <th scope="col">STATUS</th>
                            <th scope="col">ASSIGNEE<span></span></th>
                            
                            <!-- <th class="text-center" scope="col">3DS</th>
                            <th class="text-center" scope="col">ACTIVE</th>
                            <th class="text-center" scope="col">ACTION</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><span class="bg-blight">1</span></td>
                            <td><span class="bg-bdark">NullPointerException</span></td>
                            <td><span class="bg-blight">John Doe</span></td>
                            <td><span class="bg-bdark">2023-04-03</span></td>
                            <td><span class="bg-bdark">Open</span></td>
                            <td><span class="bg-bdark">Jane Smith</span></td>
                            <!-- <td class="text-center"><span class="fas fa-check"></span></td>
                            <td class="text-center"><span class="fas fa-ellipsis-h"></span></td> -->
                            <button type="button" class="btn btn-danger" data-toggle="popover" 
        title="A Null Pointer Exception is a runtime error that occurs when a program tries to use a null reference where an object reference is required. It indicates that the program attempted to access or manipulate an object, but the object variable is null."
        data-trigger="click"style="padding: 0.25rem 0.5rem; font-size: 0.875rem;">View Details</button>

                        </tr>
                        
                        <tr>
                            <td><span class="bg-blight">2</span></td>
                            <td><span class="bg-bdark">UI Glitch</span></td>
                            <td><span class="bg-blight">Robert Davis</span></td>
                            <td><span class="bg-bdark">2023-06-16</span></td>
                            <td><span class="bg-bdark">Resolved</span></td>
                            <td><span class="bg-bdark">Emily Wilson</span></td>
                            <!-- <td class="text-center"><span class="fas fa-check"></span></td>
                            <td class="text-center"><span class="fas fa-ellipsis-h"></span></td> -->
                            <button type="button" class="btn btn-danger" data-toggle="popover" data-placement="bottom"
                            title="A UI glitch error refers to a visual or functional inconsistency or anomaly in a user interface. It can manifest as flickering, misaligned elements, distorted graphics, or unresponsive controls. "
                            data-trigger="click"style="padding: 0.25rem 0.5rem; font-size: 0.875rem;">View Details</button>
                    
                        
                        </tr>


                        <tr>
                            <td><span class="bg-blight">..</span></td>
                            <td><span class="bg-bdark">..</span></td>
                            <td><span class="bg-blight">..</span></td>
                            <td><span class="bg-bdark">..</span></td>
                            <td><span class="bg-bdark">..</span></td>
                            <td><span class="bg-bdark">..</span></td>
                            <!-- <td class="text-center"><span class="fas fa-check"></span></td>
                            <td class="text-center"><span class="fas fa-ellipsis-h"></span></td> -->
                        </tr>

                        <tr>
                            <td><span class="bg-blight">..</span></td>
                            <td><span class="bg-bdark">..</span></td>
                            <td><span class="bg-blight">..</span></td>
                            <td><span class="bg-bdark">..</span></td>
                            <td><span class="bg-bdark">..</span></td>
                            <td><span class="bg-bdark">..</span></td>
                            <!-- <td class="text-center"><span class="fas fa-check"></span></td>
                            <td class="text-center"><span class="fas fa-ellipsis-h"></span></td> -->
                        </tr>

                        <tr>
                            <td><span class="bg-blight">..</span></td>
                            <td><span class="bg-bdark">..</span></td>
                            <td><span class="bg-blight">..</span></td>
                            <td><span class="bg-bdark">..</span></td>
                            <td><span class="bg-bdark">..</span></td>
                            <td><span class="bg-bdark">..</span></td>
                            <!-- <td class="text-center"><span class="fas fa-check"></span></td>
                            <td class="text-center"><span class="fas fa-ellipsis-h"></span></td> -->
                        </tr>
                      

                    </tbody>
                </table>
            <!-- </div>
            <div class="d-flex align-items-center justify-content-between px-3 mt-3">
                <div class="bg-bdark fs13"> <span>Page</span> <input class="input-10 text-center" type="text" value="1"> <span><span class="px-1">of</span>1</span> </div>
                <div class="d-flex justify-content-end bg-bdark fs13"> <span class="pe-1">Show</span> <input class="input-10" type="number" value="25"> <span class="ps-2"><span class="pe-2">/</span>Page</span> </div>
            </div> -->
        </div>
    <!-- </div> -->
<!-- </div> -->