<div class="container-fluid">
  <app-header (sideNavToggled)=" sideNavStatus= $event;"></app-header>

  <main>
    <app-side-nav [sideNavStatus]="sideNavStatus" 
    [ngClass]="{'app-side-nav-open':sideNavStatus}"> </app-side-nav>

    <router-outlet></router-outlet>

    <!-- <div class="display-area p-3" [ngClass]="
    {'display-area-shrink':sideNavStatus}"> -->
    <!-- <app-display-main></app-display-main>  -->
    <!-- *ngFor="let card of cards"
    [projectId]="card.projectId"
    [projectName]="card.projectName"
    [manager]="card.manager"
    [description]="card.description" -->
  

  
  <div class="card-container">
    <!-- <div class="card-wrapper" *ngFor="let card of cards"> -->
      <!-- <app-display-main></app-display-main> -->
      <!-- <app-bug-details></app-bug-details> -->
      
    </div>
  <!-- </div> -->
  
<!-- <app-add-project></app-add-project> -->
<!-- <app-single-bug-view></app-single-bug-view> -->
  
    <!-- </div> -->
  </main>
</div>

